<div class="row">
  <div class="col-xs-12">
    <p class="lead">Itens do Pedido:</p>
  </div>
  <div class="col-xs-12 table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Quantidade</th>
          <th>Item</th>
          <th>Descrição</th>
          <th class="text-right">Subtotal</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td class="text-center">
            <a class="btn btn-sm" (click)="decreaseQty(item)"
              ><i class="fa fa-minus"></i
            ></a>
            {{ item.quantity }}
            <a class="btn btn-sm" (click)="increaseQty(item)"
              ><i class="fa fa-plus"></i
            ></a>
          </td>
          <td>{{ item.product?.name }}</td>

          <td>{{ item.product?.description }}</td>
          <td class="text-right">{{ getItemTotal(item) | currency: "BRL" }}</td>
          <td class="text-right">
            <a class="btn btn-sm danger" (click)="remove(item)"
              ><i class="fa fa-remove"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
