<section class="content-header" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <meat-loading *ngIf="loading | async; else content"></meat-loading>

  <ng-template #content>
    <div class="content">
      <meat-restaurant-details-card
        [restaurant]="restaurant"
      ></meat-restaurant-details-card>

      <div class="row">
        <div class="col-md-9 col-xs-12">
          <meat-menu-card
            *ngFor="let menu of restaurant?.menu"
            [menu]="menu"
          ></meat-menu-card>
        </div>

        <div class="col-md-3 col-xs-12">
          <meat-shopping-cart></meat-shopping-cart>
        </div>
      </div>
    </div>
  </ng-template>
</section>
