<div>
  <form [formGroup]="form">
    <div class="row invoice-info">
      <div class="col-xs-12">
        <p class="lead">Endereço de Entrega</p>
      </div>
      <div class="col-sm-6 col-xs-12">
        <meat-input errorMessage="Inválido">
          <input
            type="text"
            class="form-control"
            placeholder="Endereço"
            formControlName="address"
          />
        </meat-input>
      </div>

      <div class="col-sm-2 col-xs-6">
        <meat-input errorMessage="Inválido">
          <input
            type="text"
            class="form-control"
            placeholder="Número"
            formControlName="number"
          />
        </meat-input>
      </div>

      <div class="col-sm-4 col-xs-6">
        <meat-input>
          <input
            type="text"
            class="form-control"
            placeholder="Complemento"
            formControlName="complement"
          />
        </meat-input>
      </div>
    </div>
  </form>

  <meat-order-items></meat-order-items>

  <div class="row">
    <meat-order-payment-methods></meat-order-payment-methods>
    <meat-order-shipping-info></meat-order-shipping-info>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a href="order-summary.html" class="btn btn-success pull-right"
        ><i class="fa fa-credit-card"></i> Concluir Pedido
      </a>
    </div>
  </div>
</div>
