<div>
  <form [formGroup]="form">
    <div class="row invoice-info">
      <div class="col-xs-12">
        <p class="lead">Endereço de Entrega</p>
      </div>
      <div class="col-sm-6 col-xs-12">
        <meat-input errorMessage="Inválido">
          <input
            type="text"
            class="form-control"
            placeholder="Endereço"
            formControlName="address"
          />
        </meat-input>
      </div>

      <div class="col-sm-2 col-xs-6">
        <meat-input errorMessage="Inválido">
          <input
            type="text"
            class="form-control"
            placeholder="Número"
            formControlName="number"
          />
        </meat-input>
      </div>

      <div class="col-sm-4 col-xs-6">
        <meat-input>
          <input
            type="text"
            class="form-control"
            placeholder="Complemento"
            formControlName="complement"
          />
        </meat-input>
      </div>
    </div>

    <meat-order-items></meat-order-items>

    <div class="row">
      <meat-order-payment-methods>
        <div class="radio">
          <label>
            <input
              type="radio"
              name="paymentMethod"
              value="CREDIT_CARD"
              formControlName="paymentMethod"
            />
            Cartão de crédito
          </label>
        </div>
        <div class="radio">
          <label>
            <input
              type="radio"
              name="paymentMethod"
              value="CASH"
              formControlName="paymentMethod"
            />
            Dinheiro
          </label>
        </div>
      </meat-order-payment-methods>

      <meat-order-shipping-info></meat-order-shipping-info>
    </div>
  </form>

  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-success pull-right"
        [disabled]="!isFormValid || isCartEmpty"
      >
        <i class="fa fa-credit-card"></i> Concluir Pedido
      </button>
    </div>
  </div>
</div>
