<section class="content-header" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <meat-loading *ngIf="loading | async; else content"></meat-loading>

  <ng-template #content>
    <div class="content">
      <div class="row" [@fadeInOnEnter]>
        <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
          <meat-restaurant-card
            [restaurant]="restaurant"
          ></meat-restaurant-card>
        </div>

        <div *ngIf="!restaurants?.length" class="col-xs-12">
          <p class="lead text-center">
            Nenhum restaurante encontrado :(
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</section>
