<div class="col-xs-12 col-sm-6">
  <div class="box box-solid">
    <div class="box-header with-border">
      <span class="review-score pull-right"
        ><i class="fa fa-star"></i> {{ review?.rating | number: '1.1-1' }}</span
      >
      <div class="user-block">
        <img class="img-circle" [src]="getReactionImagePath()" />
        <span class="username">{{ review?.name }}</span>
        <span class="description">{{ review?.createdAt | date: 'dd/MM/yyyy' }}</span>
      </div>
    </div>

    <div class="box-body">
      <p>{{ review?.description }}</p>
    </div>
  </div>
</div>
