<section class="content-header" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <div class="invoice">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
        </h2>
      </div>
    </div>

    <meat-order-form></meat-order-form>

    <div class="row">
      <div class="col-xs-12">
        <a href="order-summary.html" class="btn btn-success pull-right"
          ><i class="fa fa-credit-card"></i> Concluir Pedido
        </a>
      </div>
    </div>
  </div>
</section>
